bcrypt==4.0.1; python_version >= "3.6"
bookops-bpl-solr @ git+https://github.com/BookOps-CAT/bookops-bpl-solr@v0.3.0 ; python_version >= "3.7" and python_version < "4.0"
bookops-marc @ git+https://github.com/BookOps-CAT/bookops-marc.git@0.8.1 ; python_version >= "3.7" and python_version < "4.0"
bookops-nypl-platform @ git+https://github.com/BookOps-CAT/bookops-nypl-platform@v0.3.0 ; python_version >= "3.7" and python_version < "4.0"
bookops-worldcat==0.5.0; python_version >= "3.7" and python_version < "4.0"
certifi==2022.12.7; python_version >= "3.7" and python_version < "4"
cffi==1.15.1; python_version >= "3.6"
charset-normalizer==3.1.0; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.7.0"
cryptography==40.0.1; python_version >= "3.6"
greenlet==2.0.2; python_version >= "3" and python_full_version < "3.0.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0") or python_version >= "3" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0") and python_full_version >= "3.5.0"
idna==3.4; python_version >= "3.7" and python_version < "4"
loggly-python-handler==1.0.1
paramiko==2.12.0
psycopg2==2.9.6; python_version >= "3.6"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pymarc==4.2.2; python_version >= "3.6"
pynacl==1.5.0; python_version >= "3.6"
pyyaml==6.0; python_version >= "3.6"
requests-futures==1.0.0
requests==2.28.2; python_version >= "3.7" and python_version < "4"
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
sqlalchemy==1.4.47; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
urllib3==1.26.15; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
