bookops-bpl-solr @ git+https://github.com/BookOps-CAT/bookops-bpl-solr.git@v0.1.1
bookops-nypl-platform @ git+https://github.com/BookOps-CAT/bookops-nypl-platform.git@v0.2.1
bookops-worldcat==0.3.0
certifi==2020.11.8
chardet==3.0.4
idna==2.10
pymarc==4.0.0
requests==2.25.0
sqlalchemy==1.3.20
urllib3==1.26.2
