bcrypt==4.1.2 ; python_version >= "3.9" and python_version < "4.0"
bookops-bpl-solr @ git+https://github.com/BookOps-CAT/bookops-bpl-solr@8fa8ddef6338090d2a71e1779f4dae8264cdcc90 ; python_version >= "3.9" and python_version < "4.0"
bookops-marc @ git+https://github.com/BookOps-CAT/bookops-marc.git@cd89f82f2dd093907e04871b1ba40b3f0407a9f4 ; python_version >= "3.9" and python_version < "4.0"
bookops-nypl-platform @ git+https://github.com/BookOps-CAT/bookops-nypl-platform@711229b9f01760e52f3d7faad05965ab5b83ad53 ; python_version >= "3.9" and python_version < "4.0"
bookops-worldcat==1.0.0 ; python_version >= "3.9" and python_version < "4.0"
certifi==2024.2.2 ; python_version >= "3.9" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_version < "4.0"
cryptography==42.0.5 ; python_version >= "3.9" and python_version < "4.0"
greenlet==3.0.3 ; python_version >= "3.9" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version < "4.0"
idna==3.6 ; python_version >= "3.9" and python_version < "4.0"
loggly-python-handler==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
paramiko==3.4.0 ; python_version >= "3.9" and python_version < "4.0"
psycopg2==2.9.9 ; python_version >= "3.9" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.9" and python_version < "4.0"
pymarc==5.1.2 ; python_version >= "3.9" and python_version < "4.0"
pynacl==1.5.0 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.9" and python_version < "4.0"
requests-futures==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.9" and python_version < "4.0"
sqlalchemy==1.4.52 ; python_version >= "3.9" and python_version < "4.0"
urllib3==2.2.1 ; python_version >= "3.9" and python_version < "4.0"
