---
POSTGRES_HOST: postgres_host
POSTGRES_USER: postgres_user
POSTGRES_PASSWORD: postgres_password
POSTGRES_PORT: postgres_port
POSTGRES_DB: postgres_db_name
WCNYP_KEY: nypl_worldcat_key
WCNYP_SECRET: nypl_worldcat_secret
WCBPL_KEY: bpl_worldcat_key
WCBPL_SECRET: bpl_worldcat_secret
LOGGLY_TOKEN: loggly_token
LOG_HANDLERS: "loggly,file,console"
SFTP_HOST: sftp_host
SFTP_USER: sftp_user
SFTP_PASSW: sftp_password
SFTP_NS_SRC: "/NSDROP/sierra_dumps/nightshift"
SFTP_NS_DST:  "/NSDROP/load"
NYPL_PLATFORM_CLIENT: nypl_platform_client
NYPL_PLATFORM_SECRET: nypl_platform_secret
NYPL_PLATFORM_OAUTH: nypl_platform_oauth_server
NYPL_PLATFORM_ENV: prod
BPL_SOLR_CLIENT_KEY: bpl_solr_client_key
BPL_SOLR_ENDPOINT: bpl_solr_endpoint